<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="schedule_container">
    <div class="schedule_segment" slot="fixed">
      <ion-segment scrollable > 
        <ion-segment-button *ngFor="let day of wsdcData; let i = index;" >
          <div class="day">{{ getDayName(day.date)}}</div>
          <div class="date">{{ i+1 }}</div>
        </ion-segment-button>
      </ion-segment>
      <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let schedules of wsdcData; let i = index;">
          <ion-list>
            <ion-item *ngFor="let agenda of schedules.agenda; let i = index;">
              <div class="agendaDate">
                <p>{{agenda.start}} <br> {{agenda.end}}</p>
              </div>
              <div class="agendaCaption">
                <h3><b>{{agenda.title}}</b></h3>
                <p>{{agenda.subtitle}}</p>
              </div>
            </ion-item>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
