.schedule_container {
  display: flex;
  flex-wrap: wrap;
}

.schedule_container .schedule_segment ion-segment-button {
  --background-checked: #2bb673;
  --color-checked: white;
  --indicator-color-checked: none;
  --border-radius: 50%;
  --background-hover: none;
  --background-hover-opacity: none;
  width: 64px;
  height: 64px;
  padding: 10px 4px 15px;
  margin: 10px 3px 10px 3px;
  border: none;
}

.schedule_segment {
  overflow-x: scroll;
  border-bottom: 1px solid grey;
  background-color: white;
  overflow-x: scroll;
}

.schedule_segment ion-segment {
  white-space: nowrap;
  height: 100%;
}

.schedule_slides ion-slides {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.schedule_container ion-slides ion-list ion-item {
  display: grid;
  grid-template-columns: auto auto;
}

.agendaDate {
  margin-right: 20px;
  padding-left: 10px;
  font-weight: bold;
  color: #2bb673;
  border-left: 1px solid #2bb673;
  font-family: Roboto;
}

.agendaCaption h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.agendaCaption p {
  margin-top: -10px;
  font-size: 16px;
  font-weight: lighter;
}