$colors: ('#ec1c24', '#c49a6c', '#d189bb', '#4d113f');

#map{
    height: 400px;
    // background: #000;
}

ion-item h5{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.venuesDescContainer {
    border-bottom: 1px solid grey;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 80% 20%;
}

.venuesDescContainer p{
    margin-top: -8px;
}

.venuesDist{
    position: relative;
    margin-left: 10px;
}

.venuesDist p{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}