<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToVenue()">
      <ion-icon style="font-size: 24px; margin-left: 10px;" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Venues</ion-title>
  </ion-toolbar>
</ion-header>

<div id="bod">
  <div id="container"></div>
</div>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let venue of venuesMapsDetail; let i=index">
      <div>
        <ion-label class="venuesName">
          <h5>{{venue.name}}</h5>
        </ion-label>
        <div class="venuesDescContainer" *ngFor="let properties of venue.geojson.features; let j = index">
          <div class="venueDesc" (click)="setMapDetail(properties.geometry.coordinates)">
            <h4><b>{{properties.properties.Name}}</b></h4>
            <p>{{properties.properties.Description}}</p>
          </div>
          <div class="venuesDist" #distance>
            <p>{{userDistanceTo[j]}}</p>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
