<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToVenue()">
      <ion-icon style="font-size: 24px; margin-left: 10px;" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Venues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <ion-list>
    <ion-item *ngFor="let venue of venuesMaps; let i=index">
      <div *ngIf="check(venue.id)">
        <div class="venuesName">
          <h5>{{venue.name}}</h5>
        </div>
        <div class="venuesDescContainer" *ngFor="let properties of venue.geojson.features">
          <div class="venueDesc" (click)="setMapDetail(properties.geometry.coordinates)">
            <h4><b>{{properties.properties.Name}}</b></h4>
            <p>{{properties.properties.Description}}</p>
          </div>
          <div class="venuesDist" #distance>
            <p>1.0 KM</p>
          </div>
        </div>
        
      </div>
      
      <!-- <h2 *ngIf="check(venue.id)">{{venue.geojson.features[i].properties.Name}}</h2> -->
      <!-- <h2 >{{venuesPage}}</h2> -->
      <!-- <p>{{venue.geojson.features.properties.description}}</p> -->
    </ion-item>
  </ion-list>
</ion-content>
