$colors: ('#ec1c24', '#c49a6c', '#d189bb', '#4d113f');

#mapContainer {
    width: 100%; 
    height: 400px; 
    z-index: 999999;
}

ion-content{
    margin-top: 400px;
}

#container{
    margin: 0; 
    background: transparent !important;
}

ion-item{
    margin-right: 16px;
    margin-left: 16px;
}

ion-item h3{
    border-bottom: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 4px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-bottom: solid 1px;
}

.venuesDescContainer {
    border-bottom: 1px solid grey;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 80% 20%;
}

.venuesDescContainer p{
    margin-top: -8px;
}

.venuesDist{
    position: relative;
    margin-left: 10px;
}

.venuesDist p{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}